include AUTHORS.rst
include CHANGELOG.rst
include README.rst
include LICENSE
recursive-include post/fixtures *
recursive-include post/management *
recursive-include post/migrations *
recursive-include post/static *
recursive-include post/templates *
recursive-include post/tests *
