{% extends 'base.html' %}
{% load i18n listing_tags %}

{% block content %}
    <h2>Jmbo-search</h2>

    <form method="post" action=".">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Search" />
                </td>
            </tr>
        </table>

        {% if object_list %}
            <h3>Results</h3>
            {% listing object_list style="Horizontal" title="Content" %}
        {% endif %}
    </form>
{% endblock %}
